html
{
	cursor:url('../images/moe.cur'),url(../images/moe.cur),auto;
	
	}
a{
	cursor:url('../images/moe2.cur'),url(../images/moe2.cur),auto;
	}
.btn,.waifu-tool span{
	cursor:url('../images/moe2.cur'),url(../images/moe2.cur),auto;
	
	}
.audioplayer-bar-loaded,.audioplayer-bar-played,.audioplayer-playpause,.audioplayer-playpause a,.audioplayer-volume-adjust,.image-buttons input{
	cursor:url('../images/moe2.cur'),url(../images/moe2.cur),auto;
	}

body{
	width:100%;
	height:auto;
	}


.main {
	width: 100%; height: 490px;position:absolute;
}
.puzzle {
	width: 32%;
	height: 33.5%;
	border: 1px solid #fff;
	position:absolute;
	background-size:100% auto;
	margin-left:4%;
}
.container{
	width:94%;
	height:auto;
	}
.comparep{

	}
#img0{
	width:100%;
	height:auto;
	}
	
