.main {
	width: 602px; height: 450px;position:relative;float:left;
}
.puzzle {
	width: 200px;
	height: 150px;
	border: 1px solid #fff;
	position:absolute;
	background-size:100% 100%;
}
#contain{
	margin-left:10%;
	}